.top-page
  .top-page__header
    .top-page__header__box
      .top-page__header__box__logo
        = image_tag 'kensazemi.png'
.login
  %h2
    パスワード登録をお済ませください
  .changes
    = link_to "パスワード登録手続きへ", new_password_path(resource_name), class: "changes__transition"

