// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headerlogo {
  text-decoration: none;
  &:hover {
    background-color: #fff;
  }
}
.img-detail {
  margin-top: 40px;
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
  &__text {

  }
}


.study-second {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
  padding: 15px 50px;
  display: flex;
  @media only screen and ( max-device-width: 480px) {
  padding: 70px 127px;
  }
  .sidemenu {
    height: 100%;
    width: 200px;
    background-color: #fff;
    margin-right: 30px;
    &__box {
      height: 50px;
      line-height: 2.5;
      font-size: 16px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
      .sidelink {
        width: 200px;
        border-bottom: solid 1px #ededed;
        transition-property: all;
        transition: 0.1s linear;
        padding: 10px;
        &:hover {
          background-color: blue;
        }
        &:active {
          background: #1a92c2;
          color: #1679a1;
          text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
          transition-property: all;
          transition: 0.1s linear;
        }
      }
    }
  }
  &__box {
    background-color: #fff;
  }
}
.movies {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  position: relative;
  .my-video-dimensions {
    margin: 0 auto;
  }
  .playlogo {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 100px;
    color: #fff;
    transition: 0.3s linear;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
.article-topic {
  text-align: center;
  border-bottom: solid 2px #ededed;
  margin-top: 15px;
  font-size: 25px;
  padding-bottom: 15px;
}
.article-memo {
  width: 70%;
  font-size: 20px;
  padding-top: 25px;
  margin: 0 auto;
  line-height: 3;
  font-family: monospace;
}
.changes {
  margin: 40px 0 80px 0;
  padding: 25px;
  text-align: center;
  font-size: 20px;
  border-top: solid 1px #ededed;
  &__transition {
    background-color: aliceblue;
    transition-property: all;
    transition: 0.5s linear;
    box-shadow: inset 0 -6px 5px rgba(0, 0, 0, .2);
    border-radius: 15px;
    padding: 10px;
    &:hover {
      background-color: blue;
      text-decoration: none;
    }
    &:active {
      background: #1a92c2;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
      color: #1679a1;
      text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
      transition-property: all;
      transition: 0.2s linear;
    }
  }
}

footer {
  padding-left: 25px;
}

