// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pdf-test {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
  padding: 15px 50px;
  font-size: 21px;
  font-family: monospace;
  @media only screen and ( max-device-width: 480px) {
    font-size: 55px;
    width: 111%;
    padding-top: 50px;
  }
  .pdf-show {
    text-align: center;
    margin: 100px;
    @media only screen and ( max-device-width: 480px) {
      margin: 300px;
    }
    a{
      font-size: 60px;
      background-color: aliceblue;
      transition-property: all;
      transition: 0.5s linear;
      box-shadow: inset 0 -6px 5px rgba(0, 0, 0, .2);
      border-radius: 15px;
      padding: 10px;
      @media only screen and ( max-device-width: 480px) {
        border-radius: 0;
        font-size: 50px;
        padding: 30px;
      }
      &:hover {
        background-color: blue;
        text-decoration: none;
      }
      &:active {
        background: #1a92c2;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
        color: #1679a1;
        text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
        transition-property: all;
        transition: 0.2s linear;
      }
    }
  }
}