// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users#index
.top-page {
  &__header {
    @media only screen and ( max-device-width: 480px) {
    width: 110%;
    }
    &__box {
      display: flex;
      justify-content: space-around;
      border-bottom:solid 1px ;
      @media only screen and ( max-device-width: 480px) {
        width: 1080px;
      }
      &__logo {
      }
      &__user {
        line-height: 260%;
        &__userId {
        }
        &__userName {
        }
      }
    }
  }
}

.study {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
  padding: 15px 150px;
  @media only screen and ( max-device-width: 480px) {
    padding: 70px 127px;
  }
  &__box {
    background-color: #fff;
    &__wrap {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      &__lesson {
        width: 85%;
        margin: 20px 10px;
        @media only screen and ( max-device-width: 480px) {
          width: 400px;
        }
        &__img {
          // margin-top: 10px;
          .lesson-img {
            height: 50px;
            width: 100%;
            font-size: 23px;
            text-align: center;
            line-height: 2;
            font-family: serif;
            color: white;
            background-color: blue;
          }
        }
        &__that {
          display: flex;
          @media only screen and ( max-device-width: 480px) {
            line-height: 4;
            text-align: center;
          }
          .lesson-change {
            text-decoration: none;
          }
          .thumbnail {
            width: 100%;
            height: 61px;
            font-size: 16px;
            font-weight: bold;
            line-height: 3;
            text-align: center;
            margin-bottom: -1px;
            background-color: aliceblue;
            box-shadow: inset 0 -6px 5px rgba(0, 0, 0, .2);
            transition-property: all;
            transition: 0.5s linear;
            &:hover {
              background-color: blue;
              text-decoration: none;
            }
            &:active {
              background: #1a92c2;
              box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
              color: #1679a1;
              text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
              transition-property: all;
              transition: 0.2s linear;
  
            }
          }
          .articles-text {
            border: solid 1px #dddddd;
            text-align: center;
            height: 142px;
            padding: 4px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &__move {
            font-size: 20px;
            border-top: solid 1px rgb(235, 235, 235);
            font-family: monospace;
            &:hover {
              background-color: rgb(235, 235, 235);
            }
            &:active {
              background-color: #fff;
            }
            @media only screen and ( max-device-width: 480px) {
              height: 200px;
              font-size: 50px;

            }
            .videoPlay {
              height: 200px;
              width: 400px;
              position: relative;
              .playlogo {
                position: absolute;
                top: -120%;
                left: 39%;
                font-size: 100px;
                color: #fff;
                transition: 0.3s linear;
                opacity: 0.5;
                &:hover {
                  opacity: 1;
                }
              }
            }
            #video {
              height: 200px;
              width: 400px;
            }
          }
        }
      }
    }
  }
}


// users#show
.mypage {
  padding: 15px 0;
  background-color: rgb(235, 235, 235);
  &__wrap {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    &__right {
      width: 30%;
      padding: 15px 15px;
      &__link {
        text-decoration: none;
        &__list {
          height: 40px;
          line-height: 2.5;
          text-align: center;
          border: solid 1px rgb(235, 235, 235);
          &:hover {
            background-color: rgb(235, 235, 235);
          }
          &:active {
            background-color: #fff;
          }
        }
      }
    }
    &__left {
      width: 50%;
      padding: 15px 15px;
      &__list {
        height: 160px;
        width: 100%;
        text-align: center;
        line-height: 6;
        font-size: 30px;
        background-image: url("beauty1.jpeg");
        color: #fff;
      }
      .lesson {
        display: flex;
        &__movie {
          &__img {

          }
        }
        &__memo {

        }
      }
    }
  }
}
