!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @user.name
      様、こちらが生徒専用ページとなります
      = link_to confirmation_url(@resource, confirmation_token: @token) do
        MEDWIDE動画学習アプリ
      
    %p
      検査技術ゼミナール
      へのサインアップが完了しました。
      = "your username is: #{@user.name}."
      %br/
    %p
      このサイトにログインするには、
      MEDWIDE動画学習アプリ
      をクリックし、サイトページ下部にあります
      「パスワード登録がまだの方はこちらのリンクをクリックしてください。」
      をクリックし、指示に従ってパスワードを発行してください。
      
